<nz-table nzBreakWord nzTemplateMode [nzLoading]="loading" class="custom-table">
    <thead>
      <tr>
        <th class="text-center">Nombre</th>
        <th class="text-center">Rol</th>
        <th class="text-center">Compañia</th>
        <th class="text-center">Username</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="users && users.length > 0">
        <tr *ngFor="let user of users">
          <td class="text-center">{{ user.name}}</td>
          <td class="text-center">{{ user.role}}</td>
          <td class="text-center">{{ user.company}}</td>
          <td class="text-center">{{ user.userName}}</td>
          <td class="text-center">  
            <!-- Dropdown del clic derecho sobre la fila -->
            <nz-dropdown-menu #menu="nzDropdownMenu">
            </nz-dropdown-menu>
            <nz-dropdown-menu #menu="nzDropdownMenu">
            </nz-dropdown-menu>
             <!-- Dropdown de las acciones -->
          </td>
        </tr>
      </ng-container>
  
      <!-- Cuando la tabla es vacia -->
      <ng-container *ngIf="!users || users.length === 0">
        <tr>
          <td colspan="8">
            <div nz-row nzJustify="center">
              <div nz-col nzSpan="24">
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
</nz-table>
  



