.logo{
    position: relative;
    left: 5px;
}

.item-content {
    cursor: pointer;
    display: flex;
    align-items: center; 
    padding: 10px; 
}
  
.icon {
    margin-right: 10px;
    font-size: 18px;
}
  
  