.login-wrapper {
  width: 100%;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;

  & .login-form {
    max-height: 100%;
    flex: 1 1 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    padding-top: 2rem;
  }

  & .card-login {
    background-color: rgb(231, 229, 226);
    max-width: 340px;
    border-radius: 0.8rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0 auto;
  }
}
