<div class="title-wrapper">
    <h1 class="title-modal">
      Resumen del juego
    </h1>
    <nz-divider></nz-divider>
</div>
  
<div nz-row [nzGutter]="24">
    <div nz-col class="gutter-row" nzSpan="24" nzSm="24" *ngFor="let item of data">
        <nz-list nzItemLayout="horizontal">
              <nz-list-item>
                <nz-list-item-meta [nzDescription]="item.title">
                  <nz-list-item-meta-title>
                    <a>{{ item.subTitle }}</a>
                  </nz-list-item-meta-title>
                </nz-list-item-meta>
              </nz-list-item>
          </nz-list>
    </div>
</div>

<div nz-row nzJustify="end" [nzGutter]="16">
    <div nz-col nzSpan="24" nzSm="auto" class="gutter-row" style="text-align: right;">
      <button nz-button nzType="primary" (click)="Close()">
        Cerrar
      </button>
    </div>
</div>
  



