<div class="title-wrapper">
    <h1 class="title-modal">Generar preguntas</h1>
    <nz-divider></nz-divider>
  </div>
  
  <ng-container *ngIf="!dataLoaded">
    <div nz-row nzJustify="center" style="margin: 20px 0;">
      <button (click)="loadQuestions()" nz-button nzType="primary" [nzLoading]="loading">Generar preguntas</button>
    </div>
  </ng-container>
  
  <ng-container *ngIf="dataLoaded">
    <nz-tabset nzTabPosition="top">
      <nz-tab *ngFor="let question of questionArray; let i = index" [nzTitle]="'Pregunta ' + (i + 1)">
        <div style="margin-bottom: 16px;">
          <input 
            nz-input
            type="text" 
            [(ngModel)]="question.text"
            (ngModelChange)="updateQuestionText(i, $event)"
            placeholder="Escribe la pregunta aquí" 
            required 
            style="width: 100%; margin-top: 8px;"
          />
        </div>
  
        <div *ngFor="let option of question.options; let j = index" style="display: flex; align-items: center; margin-bottom: 8px;">
          <input
            nz-input
            type="text"
            [(ngModel)]="option.text"
            (ngModelChange)="updateOptionText(i, j, $event)"
            placeholder="Escribe la opción aquí"
            style="flex: 1; margin-right: 8px;"
          />
          <label nz-checkbox [(ngModel)]="option.isCorrect" (ngModelChange)="toggleCorrectOption(i, j)">
            Correcta
          </label>
        </div>
      </nz-tab>
    </nz-tabset>
  
    <div nz-row nzJustify="end" nzAlign="middle" [nzGutter]="16" style="width: 100%;">
      <div nz-col nzSpan="7" class="gutter-row">
        <button (click)="cancel()" nz-button nzType="default">Cancelar</button>
      </div>
      <div nz-col nzSpan="7" class="gutter-row">
        <button (click)="postQuestion()" [disabled]="submitButton" [nzLoading]="loading" nz-button nzType="primary">
          Confirmar
        </button>
      </div>
    </div>
  </ng-container>
  