<div class="login-wrapper">
  <div class="login-form">
    <div>
      <div class="text-center mb-3">
        <!--img src="assets/svg/Logo-Revix.svg" height="28" alt="Revix" /-->
      </div>
      <nz-card class="card-login">
        <router-outlet></router-outlet>
      </nz-card>
    </div>
  </div>
  <div class="text-center">
    <nz-divider></nz-divider>
    <a>Términos y Condiciones - Políticas de Privacidad </a>
    <p>
      © Copyright {{ year }} - Trivia App
    </p>
    <p> Versión {{ version }} </p>
  </div>
</div>
