<div class="title-wrapper">
    <h1 class="title-modal">
      {{ params.title }}
    </h1>
    <nz-divider></nz-divider>
  </div>
  

    <div nz-row [nzGutter]="24">
      <div nz-col class="gutter-row" nzSpan="24" nzSm="12">
        Nombre

      </div>
      <div nz-col class="gutter-row" nzSpan="24" nzSm="12">
        Apellido

      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col class="gutter-row" nzSpan="24" nzSm="12">
        Cuil

      </div>
      <div nz-col class="gutter-row" nzSpan="24" nzSm="12">
        Email

      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col class="gutter-row" nzSpan="24" nzSm="12">
        Compañía

      </div>
      <div nz-col class="gutter-row" nzSpan="24" nzSm="12">
        Rol 

      </div>
    </div>

  <br>
  
  <div nz-row nzJustify="end" [nzGutter]="16">
    <div nz-col nzSpan="8" class="gutter-row">

    </div>
    <div nz-col nzSpan="8" class="gutter-row">

    </div>
  </div>
  


